<div id="section_nav">
  <ul>
    <li class="current">Events</li>
    <li>Notices</li>
  </ul>
</div>
<div id="events_nav">
  <ul>	
    <li> <a href="/events">Today</a></li>
    <li><a href="/events/tomorrow">Tomorrow</a></li>
    <li><a href="events_popular.html">Popular</a></li>		
    <li><a href="events_recent.html">Recently Added</a></li>	
  </ul>
</div>
<div id="new_event">
<%= render 'form' %>
</div>
<div id="back_to_events">
<%= link_to 'Back to Events', events_path %>
</div>
</div>
<div id="footer">Footer</div>
</div>


