<div id="basic_sign_in">	
<h2 id="confirm_message">Thanks for registering! Please confirm your account by clicking the link in your University email account.</h1>
</div>
			  
<div id="footer">Footer</div>		
		





