<div id="section_nav">
  <ul>
    <li class="current">Events</li>
    <li>Notices</li>
  </ul>
</div>
<div id="events_nav">
  <ul>
    <li><a href="/events">Today</a></li>
    <li class="current" ><a href="tomorrow">Tomorrow</li>
    <li><a href="popular">Popular</a></li>		
    <li><a href="recent">Recently Added</a></li>
  </ul>
</div>
<div class="event_listings_container">
<div class="event_listings">
<ul>
<%= paginate @events %>
<% @events.each do |event| %>
      <% if event.eventdate.strftime("%m/%d/%Y") == Date.tomorrow.strftime("%m/%d/%Y") %>     
      <li>
      <a href="">
        <span class="event_name"><%= event.name %></span>
        <span class="event_location"><%= "at "+event.location %></span>
	<span class="event_datetime"><%= event.eventtime.strftime("%I:%M%p") %></span>
      </a>
      </li>
      <% end %>
<% end %>
</ul>
</div>
</div>
</div>
<div id="footer"></div>



