
body {
	font-family: "Myriad Pro", Helvetica, sans-serif;
	background-size: auto;
	background-color: #F9F8F7;

	background-repeat: no-repeat;
	margin: 0 10em 0 auto;
}


#header {
	background-color: #111;
	height: 3em;
	width: auto;
	margin-right: -10em;
	font-weight: bold;

	text-transform: uppercase;
}

#content {
	float: right;
	margin-top: 5em;

}

#welcome_message {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: -0.9em;
}

#tagline {
	font-size: 1.3em;
	margin-bottom: 3em;
}
1
#signup, #employers {

	padding: 0.2em 1em 0.2em 0em;
	margin: 1em 1em 1em 0;
}

#signup h3 {
	margin-bottom: 0.2em;
}

#employers h3 {
	margin-bottom: -0.75em;
	
}

#search_bar {
	width: 17em;
	font-size: 1em;
	color: black;
}