/*BODY - BEGIN*/
body {
	font-family: "Myriad Pro", Helvetica, sans-serif;
	background-size: 100%;
	background-color: #72a2f7;
	background-repeat: no-repeat;

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #72A2F7, #80acf9,  #D2E0F7);


	background: -webkit-gradient(top, #72A2F7, #80acf9, #fff);

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #72A2F7, #80acf9, #fff);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #72A2F7, #80acf9, #fff);

	/* IE 10 */
	background: -ms-linear-gradient(top, #72A2F7, #80acf9, #fff);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #72A2F7, #80acf9, #fff);


}

body a:link { 
	text-decoration: none; 
	color: #333;
}

body a:visited { 
	color: #444;
}
	
	

/*BODY - END*/




/*HEADER - BEGIN*/
#header {
	font-size: 1.1em;
	color: #fff;
	height: 3em;
	padding: 0;
	margin: -0.5em 0 0em -0.5em;
	background-color: #111;
	width: 101.46%;
	z-index: 2;
	border-bottom: 1px solid #999;
}

#header ul {
	margin: 0em 0em 0em 14%;
	padding-top: 0.5em;

}

#header ul li {
	display: inline;
	list-style-type: none;
	padding-right: 0.5em;
}


#header #school_name {
	font-size: 1.25em;
}

#header #logo {

}

/*HEADER - END*/







/*NAVMENU - BEGIN*/

#tagpost {
	color: #efefef;	
	margin: 3em auto 0 auto;
	position: relative;
	padding: 0em 0 0 0;
	width: 54%;


}

#tagpost h1 {
	font-size: 2.5em;


}
	

#tagpost #post {
	font-size: 1.1em;
	background-color: #111;
	color: #fff;
	width: 7em;
	padding: 0.8em;
	border-radius: 7px;
	font-weight: bold;
}

#post_container{

	margin: 3em auto 0 auto;
	position: relative;
	width: 12em;
}



#tagpost a:visited {
	color: #fff;
}

#tagpost #post:hover {
	color: #eee;
	background-color: #555;
	
}

#search{

	margin-top: -1.5em;

}

.search_bar {

	float: right;
	border-radius: 4px;
}


/*NAVMENU - END*/




/*EVENT LISTINGS - BEGIN*/



#event_listings_container {
	margin: 2.5em auto 0 auto;
	width: 700px;
	min-height: 40em;
	padding: 0 0 0 0;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
}

#event_listings_container a:link, #event_listings_container a:visited {
	color: #333;
}

#event_listings_container  ul  {
	font-size: 1em;
	list-style-type: none;	
}




#event_listings_container #navmenu {
	padding: 1em 1em 0.6em 1em;
	margin-bottom: -0.8em;
	background-color: #eee;
	font-size: 1.2em;
	border-bottom: 3px solid #ccc;
	border-radius: 5px;
}

#event_listings_container #navmenu li {
	display: inline;
	margin-right: 1em;
}

#new_event_form {

	margin: 0 auto;
	width: 300px;

}

/*EVENT LISTINGS ITEM*/

#events {
	padding-left: 0;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.event_listings_item  {
	color: #222;
	border-bottom: 1px solid #ddd;
}

.event_listings_item a:link {	

}

.event_listings_item ul {

	margin: 0;
	padding: 0.5em 0.5em 0em 1.5em;

}
.event_listings_item:hover {
	background-color: #eee;

}

.event_name { 
	font-size: 1.1em;
	font-weight: bold;
	margin-right: 10em;
}

.event_location {
}

.event_datetime {

	padding-bottom: 0.4em;

}


.event_description {
	margin: 0 8em 0 20em;
	width: 20em;
	height: 5em;
	margin-top: -10%;

	
}

/* NEW EVENTS */

#new_event_form {

	margin: 3em auto 0 auto;
	position: relative;
	width: 500px;
	min-height: 25em;
}

.new_event_name_field {
	padding: 0.15em;
	width: 30em;
	border: 1px solid #ddd;
	margin-bottom: 0.2em;
}

.new_event_location_field {

	padding: 0.15em;
	width: 30em;
	border: 1px solid #ddd;
	margin-bottom: 0.2em;
}

.new_event_description_field{

	height: 5em;
	padding: 0.15em;
	width: 30em;
	border: 1px solid #ddd;
	font-family: "Myriad Pro", Helvetica, sans-serif;
}


.new_event_date{

	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.new_event_time{

	float: right;
	position: absolute;
	margin-left: 14em;
	margin-top: -1.95em;
}


.actions{

	margin: 1em auto 0 auto;
	position: relative;
	width: 150px;
		
}

.new_event_submit {

	font-size: 1.1em;
	width: 7em;
	font-weight: bold;
}

#footer {
	display: none;
	height: 4em;
	background-color: #000;
	width: 115%;
	color: #fff;
	clear: all;
	margin-top: 50em;
}




/*EVENTS INFO PAGE*/

#events_info {
	
	margin: 3em auto 0 auto;
	width: 500px;
	background-color: #fff;
	border-radius: 4px;
	min-height: 30em;

}

#events_info_container {

	margin: 0 auto;
	width: 430px;

}

#events_info_title{

	font-weight: bold;
	font-size: 1.3em;
	padding-top: 1em;
}

#events_info_description {

	background-color: #eee;
	border: 1px solid #ddd;
	padding: 1em;
	border-radius: 4px;

}


/* SIGN IN */

#basic_sign_in {

	min-height: 25em;
	margin: 4em auto 0 auto;
	position: relative;
	width: 290px;

}
