body {
	background-color: #F4F2EF;
	font-family: "Myriad Pro";

}

#header {

	height: 5em;
	border-bottom: 4px solid black;
	display: block;



}

#top_nav {
	width: 40em;
	margin: 0 auto 0 auto;

	padding: 0.2em 0 0 0 ;
}

#top_nav .left_nav {
	display: inline;
	float: left;
	margin-right: 1em;
	padding: 0.3em 0.5em 0.2em 0.5em;
	border-radius: 5px;
	color: #EFEEED;
	background-color: #222;
	width: 6em;
	text-align: center;
}

#top_nav .right_nav {
	display: inline;
	float: left;
	margin-left: 1em;
	padding: 0.3em 0.5em 0.2em 0.5em;
	border-radius: 5px;
	color: #EFEEED;
	background-color: #222;
	width: 6em;
	text-align: center;
}


#logo {
display: none;
margin: 0 auto 0 auto;
}

#wrapper {
		width: 100%;
}


#photos_left {
	height: 50em;
	float: left;
	width: 24%;
	background-color: #E5E4E3;

}

#photos_left img {
	border: 2px solid blue;

}

#content {
	font-size: 1.2em;
	width: 49.54%;
	height: 50em;
	border-right: 4px solid #222222;
	border-left: 4px solid #222222;	float: left;

	padding: 0.5em;
}


#school_name {
	font-size: 2em;
	border-bottom: 2px solid black;
	padding: 1em;
	font-weight: bold;
	text-transform: uppercase;
		text-align: center;
}


#section_nav {

}

#section_nav ul li {
	list-style-type: none;
	display: inline;
	font-size: 1.3em;
	padding: 0.3em 0.3em 0em 0;

}


#events_nav {

}
		


#events_nav ul li {
	list-style-type: none;
	display: inline;
	font-size: 1em;
	padding: 0 0.25em 0 0 ;	
}

#events_nav ul li a:link {
	text-decoration: none;
	color: #222;
}

.event_datetime {
	float: right;
}
#photos_right {
	float: left;
	width: 24%;
	height: 50em;
	background-color: #E5E4E3;


}



#listings {

	}

#listings ul li{
	list-style-type: none;
}


#footer {
	clear: both;
	border-top: 4px solid black;
}

