<p>Welcome to DormTown, <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<a href="dormtown.herokuapp.com/users/confirmation?confirmation_token=<%= @resource.confirmation_token %>"></a>
