<p>Welcome to DormTown, <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><a href="www.dormtown.herokuapp.com/confirm/<%= @resource.confirmation_token%>"></a></p>
