<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Dormtown - What's happening at your campus?</title>
        <meta name="generator" content="TextMate http://macromates.com/">
        <meta name="author" content="keifer">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <%= stylesheet_link_tag "homepage_style.css.erb" %>
	<%= javascript_include_tag "application" %>	
</head>
<body>

<%= yield %>
</body>
</html>
