<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Dormtown - What's happening on your campus?</title>
        <meta name="generator" content="TextMate http://macromates.com/">
        <meta name="author" content="keifer">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <%= stylesheet_link_tag "homepage_style" %>
	<%= javascript_include_tag "application" %>	
	<%= favicon_link_tag 'favicon.ico' %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38877340-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<%= yield %>
</body>
</html>
